@keyframes animation-of-increment {
  0%,
  100% {
    background-color: #f2f2f3;
  }
  80% {
    background-color: orange;
  }
}

.basket-wrap {
  position: relative;
  height: 45px;
  width: 300px;
  margin-bottom: 30px;
  flex-shrink: 0; //????
}
.basket {
  flex-shrink: 0;
  font-size: 12px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 45px;
  overflow-y: hidden;
  width: 300px;
  box-sizing: border-box;
  padding: 16px 10px;
  border-radius: 12px;
  transition: all 1s ease;
  background-color: #fff;
  &_active {
    height: auto;
    box-shadow: 0px 0 15px 2px #b1b1b1;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
    &-quantity {
      height: 16px;
      width: 32px;
      line-height: 16px;
      text-align: center;
      border-radius: 6px;
      background-color: #f2f2f3;
    }
    &-title {
      font-size: 16px;
      font-weight: 600;
    }
  }
  &__products {
    overflow-y: scroll;
    max-height: 225px;
    margin-bottom: 12px;
    &::-webkit-scrollbar {
      display: none;
    }
    &-product {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      height: 75px;
      border-bottom: 2px solid #f2f2f3;
      &:first-of-type {
        border-top: 2px solid #f2f2f3;
      }
      &-image {
        height: 52px;
        width: 64px;
        border-radius: 8px;
        flex-shrink: 0;
        margin-right: 5px;
      }
      &-info {
        margin-right: auto;
        & * {
          display: block;
          margin-bottom: 4px;
        }
        &-name {
          height: 25px;
          overflow-y: hidden;
        }
        &-weight {
          color: #b1b1b1;
        }
      }
      &-counter {
        display: flex;
        flex-shrink: 0;
        height: 30px;
        width: 74px;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 9px 0px;
        background-color: #f2f2f3;
        &_increment {
          animation: animation-of-increment 1s ease;
        }
        button {
          padding: 5px 10px;
          border-radius: 8px;
          align-self: center;
        }
        span {
          margin: auto;
        }
      }
    }
  }

  &__result {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }
  &__delivery-btn {
    width: 100%;
    padding: 7px 0px;
    margin-bottom: 13px;
    border-radius: 12px;
    background-color: #ff7020;
    color: #fff;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    &-notice {
      transition: opacity 1s ease;
      img {
        vertical-align: middle;
        margin-right: 10px;
      }
    }
    &-close-btn {
      color: #b1b1b1;
    }
  }
}

@media (min-width: 475px) {
  .basket {
    width: 145px; //???????
    &_active {
      width: 300px;
    }
  }
}

@media (min-width: 1000px) {
  .basket-wrap {
    display: contents;
  }
  .basket {
    position: static;
    width: 300px;
    padding: 24px 16px;
    margin-top: 72px;
    height: fit-content;
    &__header {
      margin-bottom: 16px;
      &-quantity {
        width: 41px;
        height: 20px;
        line-height: 20px;
      }
      &-title {
        font-size: 24px;
      }
    }
    &__products {
      max-height: 252px;
      margin-bottom: 16px;
      &-product {
        height: 84px;
        &-counter {
          font-size: 16px;
          width: 84px;
          height: 40px;
          border-radius: 12px;
          button {
            padding: 8px 12px;
          }
        }
      }
    }
    &__result {
      font-size: 16px;
      margin-bottom: 25px;
    }
    &__delivery-btn {
      font-size: 16px;
      padding: 10px 0px;
      margin-bottom: 8px;
    }
    .basket__footer-close-btn {
      display: none;
    }
  }
}
