@font-face {
  font-family: nunito;
  src: url(../src/fonts/Nunito-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: nunito;
  src: url(../src/fonts/Nunito-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: nunito;
  src: url(../src/fonts/Nunito-ExtraBold.woff);
  font-weight: 800;
}
